* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    max-width: 100%;
}

.columna {
    float: left;
    width: 25%;
    padding-right: 1px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

/* GENERAL */

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    letter-spacing: 0.02em;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: white !important;
    font-family: 'Nova Square', cursive;
    padding-top: 100px;
    padding-left: 60px;
}

.contenedor {
    width: 95%;
    margin: 0 auto;
}

/* HEADER */

.inicio {
    height: 400px;
    background-image: url(../img/principal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Nova Square', cursive;
}


/* NAV */

.nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white !important;
    font-family: 'Nova Square', cursive;
}


.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.contenedor nav {
    width: 100%;
}

.contenedor ul {
    display: flex;
    justify-content: center;
    /* Cambio: centrar elementos horizontalmente */
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenedor li {
    flex: 0 0 auto;
    /* Cambio: eliminar flex-grow y flex-shrink */
    text-align: center;
}

.contenedor a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.contenedor-1 {
    background-color: black;
    padding: 0;
}

.contenedor-2 {
    background-color: black;
    padding: 0;
}

.navbar-brand {
    padding-left: 10px;
    font-family: 'Squada One', cursive;
}

.btn-danger {
    margin-left: 60px;
}

/* PRESENTACIÓN */

#presentacion {
    text-align: center;
    padding: 2% 0% 2% 0%;
    font-family: 'Nova Square', cursive;
}

#presentacion h2,
#productos h2,
#carrito h2 {
    text-align: center;
    font-family: 'Squada One', cursive;
}


/* PRODUCTOS */

#productos .card {
    height: 370px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#productos .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#productos .card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

#productos .card-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#productos .card-price {
    font-size: 16px;
    font-weight: bold;
}

#productos .card-footer {
    text-align: center;
}

#productos .btn-primary {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

#productos .btn-primary:hover {
    background-color: #710710;
}


/*Formulario registro*/



#formulario {
    position: relative;
    background-image: url("../img/pcBG.jpg");
    background-size: cover;
    margin: 0;
    display: block;
}



#registro,
#login {
    border: black;
    border-style: solid;
    border-width: 0.3rem;
}

#registro h2 {
    text-transform: uppercase;
    color: black;
}

#login h2 {
    text-transform: uppercase;
    color: black;
}

#registro button {
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    color: #ffffff;
    background-color: orange;
}


#login button {
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    color: #ffffff;
    background-color: orange;
}


.white-text {
    color: white;
}


/*Formulario login*/

.bold-link {
    font-weight: bold;
}




/*PAGINA MI CUENTA*/

#miCuenta h2 {
    font-size: 2.6rem;
}


#miCuenta button {
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    color: #ffffff;
    background-color: orange;
}

/*BOTON FIJO WAPP*/

.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-wsp:hover {
    color: #25d366;
    background: #FFF;
}

.fa-whatsapp {
    border-bottom: none;
}

a i {
    border-bottom: none;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}