* {
    margin: 0;
    padding: 0;
}

img, svg {
    max-width: 100%;
}

/* GENERAL */

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.02em;
    max-width: 100%;
    overflow-x: hidden;
}

/* HEADER */   

.inicio {
    height: 400px;
    background-image: url(../img/principal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.my-header {
    background-color: aqua !important;
}

/* NAV */ 

.nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.contenedor nav {
    width: 100%;
}

.contenedor ul {
    display: flex;
    justify-content: space-between; /* Cambio: espacio entre elementos */
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenedor li {
    flex: 1; /* Cambio: cada elemento ocupa igual espacio */
    text-align: center;
}

.contenedor a {
    display: block;
    text-decoration: none;
    text-align: center;
}