* {
    margin: 0;
    padding: 0;
}

img, svg {
    max-width: 100%;
}

/* GENERAL */

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    letter-spacing: 0.02em;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: white !important;
}

/* HEADER */   

.inicio {
    height: 400px;
    background-image: url(../img/principal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* NAV */ 

.nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white !important;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.contenedor nav {
    width: 100%;
}

.contenedor ul {
    display: flex;
    justify-content: center; /* Cambio: centrar elementos horizontalmente */
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenedor li {
    flex: 0 0 auto; /* Cambio: eliminar flex-grow y flex-shrink */
    text-align: center;
}

.contenedor a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.contenedor-1 {
    background-color: black;
    padding: 0;
}

.contenedor-2 {
    background-color: black;
    padding: 0;
}

.navbar-brand {
    padding-left: 10px;
}